.pagination-container {
    margin-top: 20px;
  }
  
  .pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
  }
  
  .pagination li {
    margin: 0 5px;
    cursor: pointer;
  }
  
  .pagination .active {
    font-weight: bold;
    color: #007bff;
  }
  