# Ignore node_modules
node_modules/

# Ignore build directories (for React)
build/

# Ignore environment variables file
.env

# Ignore package lock files (if you're not using npm)
package-lock.json

# Ignore any OS-specific files
.DS_Store
Thumbs.db
